In [157]:
import pandas as pd
import geopandas as gpd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [158]:
df_precios = pd.read_csv("Copia de Precios_Metales.xlsx - Sheet1.csv")
df_precios = df_precios[['Fecha', 'Metal', 'Valor', 'Unidad']]
df_precios['Unidad'].unique()
df_precios = df_precios[df_precios['Unidad']!= 'TM']
df_precios.reset_index(inplace = True, drop = True)
df_precios['Metal'].unique()

array(['Cobre', 'Oro', 'Plata', 'Molibdeno'], dtype=object)

In [159]:
df_produccion = pd.read_csv("produccion-de-cobre-por-mina-1960-2018.csv")
df_produccion.dropna(inplace=True)
df_produccion.replace(['-', '0'], np.nan, inplace=True)
for ano in range(1960, 2019):
    ano = str(ano)
    df_produccion[ano] = df_produccion[ano].apply(lambda x: x.replace(',', '') if type(x)==str else x)
    df_produccion[ano] = df_produccion[ano].astype("float")
df_produccion

,Producci√≥n Chilena de Cobre de Mina/ Chilean Copper Mine Production,Unidad,1960,1961,1962,1963,1964,1965,1966,1967,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Chuquicamata (1),Miles TM,231.1,249.6,275.8,274.8,288.0,252.7,303.5,276.9,...,574.0,528.4,443.4,355.9,339.0,340.4,308.6,302.0,330.9,320.7
1,Radomiro Tomic (2),Miles TM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,300.7,375.3,470.1,427.8,379.6,327.3,315.7,318.3,318.9,332.7
2,Ministro Hales,Miles TM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,33.5,141.2,238.3,237.0,215.1,195.5
3,Salvador,Miles TM,78.8,72.6,82.4,88.2,76.7,74.1,76.8,78.0,...,65.5,76.2,69.0,62.7,54.3,54.0,48.6,59.8,62.0,60.8
4,Andina,Miles TM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,209.7,188.5,234.4,249.9,236.7,232.4,224.3,193.4,220.0,195.5
5,El Teniente,Miles TM,169.3,158.9,152.0,144.4,163.1,152.4,144.6,181.5,...,404.1,403.6,400.3,417.2,450.4,455.5,471.2,475.3,464.3,465.0
6,Gaby,Miles TM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,148.0,117.1,118.0,133.0,128.2,121.0,125.0,121.7,122.7,107.3
7,Total Codelco,Miles TM,479.2,481.1,510.2,507.4,527.8,479.2,524.9,536.4,...,1702.0,1689.1,1735.2,1646.5,1621.7,1671.8,1731.7,1707.5,1733.9,1677.5
8,Escondida,Miles TM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1103.7,1086.7,817.7,1075.9,1193.7,1165.4,1152.5,1002.0,925.4,1242.7
9,Collahuasi,Miles TM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,535.9,504.0,453.3,282.1,444.5,470.4,455.3,506.5,524.0,559.2
10,Los Pelambres,Miles TM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,322.6,398.0,426.1,417.7,419.2,404.6,375.8,367.8,356.3,370.5
11,Anglo American Sur (3),Miles TM,11.9,12.4,15.1,22.4,25.2,23.5,27.8,25.6,...,276.9,257.7,264.0,416.6,467.3,436.9,437.8,354.2,348.7,422.2
12,El Abra,Miles TM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,164.1,145.2,123.4,153.7,155.6,166.4,147.2,99.9,78.4,91.3
13,Candelaria,Miles TM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,134.2,136.4,148.4,122.8,168.0,134.7,150.2,135.4,150.3,101.7
14,Anglo American Norte (4),Miles TM,NaN,11.6,18.3,21.2,24.4,21.9,28.3,24.1,...,151.6,139.6,130.9,115.0,111.3,104.2,106.3,99.1,87.8,83.5
15,Zald√≠var,Miles TM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,137.0,144.4,132.3,131.1,126.5,100.6,103.4,103.4,103.3,94.5
16,Cerro Colorado,Miles TM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,93.7,89.0,94.3,73.1,73.6,79.6,74.4,74.0,66.2,66.2
17,Centinela (Oxidos),Miles TM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,90.2,95.3,97.1,105.0,102.6,93.8,75.9,55.8,64.5,92.6
18,Quebrada Blanca,Miles TM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,87.4,86.2,63.4,62.4,56.2,48.1,39.1,34.7,23.4,25.5
19,Lomas Bayas,Miles TM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,73.1,71.8,73.6,73.3,74.2,66.4,70.6,80.1,78.0,72.7
20,Michilla,Miles TM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.6,41.2,41.6,37.7,38.3,47.0,29.4,0.0,0.0,0.0
21,Spence,Miles TM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,162.3,178.1,181.0,166.7,151.6,176.1,175.6,167.4,198.6,176.4
22,Centinela (S√∫lfuros),Miles TM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,96.6,173.2,177.1,180.7,145.2,180.4,163.8,155.4
23,Caserones,Miles TM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,16.2,44.6,74.9,117.3,122.8,136.5
24,Sierra Gorda,Miles TM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,12.7,87.9,98.1,101.7,101.9
25,Antucoya,Miles TM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.2,66.2,80.5,72.2
26,Otros,Miles TM,40.8,40.8,42.1,50.1,44.9,59.9,44.4,74.1,...,319.1,356.2,383.9,381.1,378.4,357.1,326.7,302.8,295.9,289.1
27,Total chile,Miles TM,531.9,545.9,585.7,601.1,622.3,584.5,625.4,660.2,...,5394.4,5418.9,5262.8,5433.9,5776.0,5761.1,5772.1,5552.6,5503.5,5831.6

In [160]:
df_precios['Metal'].unique()

array(['Cobre', 'Oro', 'Plata', 'Molibdeno'], dtype=object)

In [161]:
df_precios = df_precios[df_precios["Valor"] != "FERIADO"]
df_precios = df_precios[df_precios["Valor"] != "Feriado"]
df_precios = df_precios[df_precios['Metal'] != 'Molibdeno']

In [162]:
pp2 = df_precios[df_precios['Unidad'] != 'US$/ozt']
pp2['Valor'] = pp2['Valor'].apply(lambda x: x.replace(',', '') if type(x)==str else x)
pp2['Valor'] = pp2['Valor'].astype('float')
pp2

           Fecha  Metal    Valor  Unidad
0       12-09-17  Cobre  299.440  ¬¢US/lb
4       13-09-17  Cobre  296.060  ¬¢US/lb
8       14-09-17  Cobre  291.138  ¬¢US/lb
12      15-09-17  Cobre  292.880  ¬¢US/lb
16      18-09-17  Cobre  294.245  ¬¢US/lb
...          ...    ...      ...     ...
3847  22-07-2021  Cobre  426.000  ¬¢US/lb
3851  23-07-2021  Cobre  428.000  ¬¢US/lb
3855  26-07-2021  Cobre  434.542  ¬¢US/lb
3859  27-07-2021  Cobre  440.393  ¬¢US/lb
3863  28-07-2021  Cobre  439.849  ¬¢US/lb

[955 rows x 4 columns]

In [163]:
pp = df_precios[df_precios['Unidad']== 'US$/ozt']
pp['Valor'] = pp['Valor'].apply(lambda x: x.replace(',', '') if type(x)==str else x)
pp['Valor'] = pp['Valor'].astype('float')
pp['Valor'] = pp['Valor'].apply(lambda x: x * (1 / 6))
pp['Unidad'] = '¬¢US/lb'
pp

           Fecha  Metal       Valor  Unidad
1       12-09-17    Oro  221.041667  ¬¢US/lb
2       12-09-17  Plata    2.958333  ¬¢US/lb
5       13-09-17    Oro  222.041667  ¬¢US/lb
6       13-09-17  Plata    2.985000  ¬¢US/lb
9       14-09-17    Oro  220.500000  ¬¢US/lb
...          ...    ...         ...     ...
3857  26-07-2021  Plata    4.227500  ¬¢US/lb
3860  27-07-2021    Oro  299.525000  ¬¢US/lb
3861  27-07-2021  Plata    4.185833  ¬¢US/lb
3864  28-07-2021    Oro  299.883333  ¬¢US/lb
3865  28-07-2021  Plata    4.132500  ¬¢US/lb

[1912 rows x 4 columns]

In [164]:
pp_final = pd.concat([pp, pp2])
pp_final

           Fecha  Metal       Valor  Unidad
1       12-09-17    Oro  221.041667  ¬¢US/lb
2       12-09-17  Plata    2.958333  ¬¢US/lb
5       13-09-17    Oro  222.041667  ¬¢US/lb
6       13-09-17  Plata    2.985000  ¬¢US/lb
9       14-09-17    Oro  220.500000  ¬¢US/lb
...          ...    ...         ...     ...
3847  22-07-2021  Cobre  426.000000  ¬¢US/lb
3851  23-07-2021  Cobre  428.000000  ¬¢US/lb
3855  26-07-2021  Cobre  434.542000  ¬¢US/lb
3859  27-07-2021  Cobre  440.393000  ¬¢US/lb
3863  28-07-2021  Cobre  439.849000  ¬¢US/lb

[2867 rows x 4 columns]

In [165]:
pp_final["Fecha"] = pp_final["Fecha"].apply(lambda x: x.replace("-17", "-2017"))
pp_final

           Fecha  Metal       Valor  Unidad
1     12-09-2017    Oro  221.041667  ¬¢US/lb
2     12-09-2017  Plata    2.958333  ¬¢US/lb
5     13-09-2017    Oro  222.041667  ¬¢US/lb
6     13-09-2017  Plata    2.985000  ¬¢US/lb
9     14-09-2017    Oro  220.500000  ¬¢US/lb
...          ...    ...         ...     ...
3847  22-07-2021  Cobre  426.000000  ¬¢US/lb
3851  23-07-2021  Cobre  428.000000  ¬¢US/lb
3855  26-07-2021  Cobre  434.542000  ¬¢US/lb
3859  27-07-2021  Cobre  440.393000  ¬¢US/lb
3863  28-07-2021  Cobre  439.849000  ¬¢US/lb

[2867 rows x 4 columns]

In [166]:
pp_final['Fecha'] = pd.to_datetime(pp_final['Fecha'], format='%d-%m-%Y')
pp_final

          Fecha  Metal       Valor  Unidad
1    2017-09-12    Oro  221.041667  ¬¢US/lb
2    2017-09-12  Plata    2.958333  ¬¢US/lb
5    2017-09-13    Oro  222.041667  ¬¢US/lb
6    2017-09-13  Plata    2.985000  ¬¢US/lb
9    2017-09-14    Oro  220.500000  ¬¢US/lb
...         ...    ...         ...     ...
3847 2021-07-22  Cobre  426.000000  ¬¢US/lb
3851 2021-07-23  Cobre  428.000000  ¬¢US/lb
3855 2021-07-26  Cobre  434.542000  ¬¢US/lb
3859 2021-07-27  Cobre  440.393000  ¬¢US/lb
3863 2021-07-28  Cobre  439.849000  ¬¢US/lb

[2867 rows x 4 columns]

In [167]:
pp_final.sort_values(by='Fecha', ignore_index=True, inplace=True)
pp_final

          Fecha  Metal       Valor  Unidad
0    2017-08-20    Oro  198.125000  ¬¢US/lb
1    2017-08-20  Plata    2.459167  ¬¢US/lb
2    2017-08-20  Cobre  270.477000  ¬¢US/lb
3    2017-09-12    Oro  221.041667  ¬¢US/lb
4    2017-09-12  Cobre  299.440000  ¬¢US/lb
...         ...    ...         ...     ...
2862 2021-07-27  Cobre  440.393000  ¬¢US/lb
2863 2021-07-27    Oro  299.525000  ¬¢US/lb
2864 2021-07-28    Oro  299.883333  ¬¢US/lb
2865 2021-07-28  Plata    4.132500  ¬¢US/lb
2866 2021-07-28  Cobre  439.849000  ¬¢US/lb

[2867 rows x 4 columns]

In [169]:
pp_final["Fecha"].replace("-17", "-2017", inplace=True)
pp_final

          Fecha  Metal       Valor  Unidad
0    2017-08-20    Oro  198.125000  ¬¢US/lb
1    2017-08-20  Plata    2.459167  ¬¢US/lb
2    2017-08-20  Cobre  270.477000  ¬¢US/lb
3    2017-09-12    Oro  221.041667  ¬¢US/lb
4    2017-09-12  Cobre  299.440000  ¬¢US/lb
...         ...    ...         ...     ...
2862 2021-07-27  Cobre  440.393000  ¬¢US/lb
2863 2021-07-27    Oro  299.525000  ¬¢US/lb
2864 2021-07-28    Oro  299.883333  ¬¢US/lb
2865 2021-07-28  Plata    4.132500  ¬¢US/lb
2866 2021-07-28  Cobre  439.849000  ¬¢US/lb

[2867 rows x 4 columns]

In [171]:
mas_caro = pp_final.groupby("Metal", as_index=False).agg("mean")
mas_caro

   Metal        Valor
0  Cobre  3283.823773
1    Oro   275.232288
2  Plata     3.656849

# Preguntas

 1. Mineral m√°s caro 

 2. A√±o con m√°s produccion

 3. Que mes tiene valor los metales

 4. Como va a ser diciembre 

 5. Como afecta los eventos sociales

# Objetivo 

### Como hubiera sido el 2022 en tema de producci√≥n y precios