Hay que hacer bonito esto pero es pa poner la direccion de la api

In [43]:
import requests as rq
import pandas as pd

In [44]:
url_turismo = "http://api.worldbank.org/v2/country/BRA/indicator/ST.INT.ARVL?format=json&frequency=Y&date=2010:2018"
r = rq.get(url_turismo)
json_data = r.json()
json_data

[{'page': 1,
  'pages': 1,
  'per_page': 50,
  'total': 9,
  'sourceid': '2',
  'sourcename': 'World Development Indicators',
  'lastupdated': '2022-09-16'},
 [{'indicator': {'id': 'ST.INT.ARVL',
    'value': 'International tourism, number of arrivals'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2018',
   'value': 6621000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'ST.INT.ARVL',
    'value': 'International tourism, number of arrivals'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2017',
   'value': 6589000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'ST.INT.ARVL',
    'value': 'International tourism, number of arrivals'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2016',
   'value': 6547000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'ST.INT.ARVL',
    'value': 'International tourism, number of arrivals'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2015',
   'value': 6306000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'ST.INT.ARVL',
    'value': 'International tourism, number of arrivals'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2014',
   'value': 6430000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'ST.INT.ARVL',
    'value': 'International tourism, number of arrivals'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2013',
   'value': 5813000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'ST.INT.ARVL',
    'value': 'International tourism, number of arrivals'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2012',
   'value': 5677000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'ST.INT.ARVL',
    'value': 'International tourism, number of arrivals'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2011',
   'value': 5433000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'ST.INT.ARVL',
    'value': 'International tourism, number of arrivals'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2010',
   'value': 5161000,
   'unit': '',
   'obs_status': '',
   'decimal': 0}]]

In [45]:
json_data.pop(0)

{'page': 1,
 'pages': 1,
 'per_page': 50,
 'total': 9,
 'sourceid': '2',
 'sourcename': 'World Development Indicators',
 'lastupdated': '2022-09-16'}

In [46]:
pais = []
fechas = []
num_turistas = []
for i in json_data[0]:
    pais.append(i['countryiso3code'])
    fechas.append(i['date'])
    num_turistas.append(i['value'])

In [47]:
df_brasil = pd.DataFrame(columns=['pais', 'fecha', 'num_turistas'])
df_brasil['pais'] = pais
df_brasil['fecha'] = fechas
df_brasil['num_turistas'] = num_turistas
df_brasil

  pais fecha  num_turistas
0  BRA  2018       6621000
1  BRA  2017       6589000
2  BRA  2016       6547000
3  BRA  2015       6306000
4  BRA  2014       6430000
5  BRA  2013       5813000
6  BRA  2012       5677000
7  BRA  2011       5433000
8  BRA  2010       5161000

In [48]:
url_pib = "http://api.worldbank.org/v2/country/BRA/indicator/NY.GDP.PCAP.PP.CD?format=json&frequency=Y&date=2010:2018"
r = rq.get(url_pib)
json_pib = r.json()
json_pib

[{'page': 1,
  'pages': 1,
  'per_page': 50,
  'total': 9,
  'sourceid': '2',
  'sourcename': 'World Development Indicators',
  'lastupdated': '2022-09-16'},
 [{'indicator': {'id': 'NY.GDP.PCAP.PP.CD',
    'value': 'GDP per capita, PPP (current international $)'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2018',
   'value': 15018.6824011943,
   'unit': '',
   'obs_status': '',
   'decimal': 1},
  {'indicator': {'id': 'NY.GDP.PCAP.PP.CD',
    'value': 'GDP per capita, PPP (current international $)'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2017',
   'value': 14524.6135408174,
   'unit': '',
   'obs_status': '',
   'decimal': 1},
  {'indicator': {'id': 'NY.GDP.PCAP.PP.CD',
    'value': 'GDP per capita, PPP (current international $)'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2016',
   'value': 14256.163385421,
   'unit': '',
   'obs_status': '',
   'decimal': 1},
  {'indicator': {'id': 'NY.GDP.PCAP.PP.CD',
    'value': 'GDP per capita, PPP (current international $)'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2015',
   'value': 14744.1136344695,
   'unit': '',
   'obs_status': '',
   'decimal': 1},
  {'indicator': {'id': 'NY.GDP.PCAP.PP.CD',
    'value': 'GDP per capita, PPP (current international $)'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2014',
   'value': 15718.5649500141,
   'unit': '',
   'obs_status': '',
   'decimal': 1},
  {'indicator': {'id': 'NY.GDP.PCAP.PP.CD',
    'value': 'GDP per capita, PPP (current international $)'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2013',
   'value': 15588.7261289147,
   'unit': '',
   'obs_status': '',
   'decimal': 1},
  {'indicator': {'id': 'NY.GDP.PCAP.PP.CD',
    'value': 'GDP per capita, PPP (current international $)'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2012',
   'value': 15046.2901818178,
   'unit': '',
   'obs_status': '',
   'decimal': 1},
  {'indicator': {'id': 'NY.GDP.PCAP.PP.CD',
    'value': 'GDP per capita, PPP (current international $)'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2011',
   'value': 15040.0610864372,
   'unit': '',
   'obs_status': '',
   'decimal': 1},
  {'indicator': {'id': 'NY.GDP.PCAP.PP.CD',
    'value': 'GDP per capita, PPP (current international $)'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2010',
   'value': 14301.1226835073,
   'unit': '',
   'obs_status': '',
   'decimal': 1}]]

In [49]:
json_pib.pop(0)

{'page': 1,
 'pages': 1,
 'per_page': 50,
 'total': 9,
 'sourceid': '2',
 'sourcename': 'World Development Indicators',
 'lastupdated': '2022-09-16'}

In [50]:
pib = []
for i in json_pib[0]:
    pib.append(i['value'])

In [51]:
df_brasil_pib = pd.DataFrame(columns=['pais', 'fecha', 'PIB_per_capita'])
df_brasil_pib['pais'] = pais
df_brasil_pib['fecha'] = fechas
df_brasil_pib['PIB_per_capita'] = pib
df_brasil_pib

  pais fecha  PIB_per_capita
0  BRA  2018    15018.682401
1  BRA  2017    14524.613541
2  BRA  2016    14256.163385
3  BRA  2015    14744.113634
4  BRA  2014    15718.564950
5  BRA  2013    15588.726129
6  BRA  2012    15046.290182
7  BRA  2011    15040.061086
8  BRA  2010    14301.122684

In [52]:
df_final = pd.merge(df_brasil, df_brasil_pib, how='outer', on=['pais', 'fecha'])
df_final

  pais fecha  num_turistas  PIB_per_capita
0  BRA  2018       6621000    15018.682401
1  BRA  2017       6589000    14524.613541
2  BRA  2016       6547000    14256.163385
3  BRA  2015       6306000    14744.113634
4  BRA  2014       6430000    15718.564950
5  BRA  2013       5813000    15588.726129
6  BRA  2012       5677000    15046.290182
7  BRA  2011       5433000    15040.061086
8  BRA  2010       5161000    14301.122684